fastapi
uvicorn[standard]
pydantic
pydantic-settings

langgraph
langchain
langchain-core
langchain-community
groq

qdrant-client
sentence-transformers

playwright

httpx
aiohttp
python-dotenv
tenacity
orjson

sqlalchemy
asyncpg